* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: white;
    align-items: center;
}

.nav .logo h1 {
  color: #ff9200;
}

.nav .item {
  cursor: pointer;
  display: flex;
  column-gap: 20px;
  font-size: 20px;
}

.nav .item a {
  text-decoration: none;
  color: black;
}

.home {
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
}

.home .main-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  column-gap: 40px;
}

.home .main-sec .left {
  height: 450px;
  width: 900px;
  display: block;
  /* background-color: aqua; */
  padding: 30px;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.home .main-sec .left .pet {
  color: #ff9200;
}

.home .main-sec .left .mem {
  font-size: 3rem;
  font-weight: 700;
}

.home .main-sec .left input {
  padding: 20px 30px;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  background-color: #ff9200;
  width: fit-content;
}

.home .main-sec .right {
  height: 450px;
  width: 700px;
  display: block;
  padding: 30px;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
